@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Montserrat:wght@100;200;300;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.bg-black {
  overflow: hidden;
}

body {
  background-color: #171523;
  cursor: none;
}

nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo-right-white {
  padding-left: 5%;
}

.links-right-black {
  padding-right: 40px;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #1f1d1d;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid #1f1d1d;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b65fcf;
  border: 5px solid #1f1d1d;
}

.hero-text {
  font-family: montserrat;
  color: #ece8e8;
}

.hero-text h1 {
  font-size: 4rem;
  margin-top: 13vh;
  margin-left: 13%;
}

.hero-text h1 span {
  color: #bd85f8;
}

.hero-text p {
  margin-left: 13%;
  margin-right: 50%;
  font-size: 1rem;
  line-height: 1.7rem;
  margin-top: 10px;
}

.hero-text button {
  margin-top: 15px;
  margin-left: 13%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pfp img {
  width: 20%;
  height: 40vh;
  border-radius: 50%;
  margin-left: 65%;
  min-width: 300px;
  margin-top: -35vh;
  border: 12px #bd85f8 solid;
  position: absolute;
}

@media (max-width: 1224px) {
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text p {
    font-size: 0.7rem;
  }
  .hero-text button {
    height: 35px;
  }
}

@media (max-width: 1076px) {
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text p {
    font-size: 0.5rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 880px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 97vh;
  }
  .hero-text {
    width: 70%;
    margin-left: 15%;
  }
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(calc(-50% + 15px), -50%);
          transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #bd85f8;
  opacity: .3;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width .3s, height .3s, opacity .3s;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: #bd85f8;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

.settings {
  background-image: url(../assets/wave-haikei.svg);
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  background-color: #1f1b1b;
}

.settings #close {
  font-size: 49px;
  margin-left: 90%;
  margin-top: 30px;
  margin-left: 30px;
}

.settings .langs {
  margin-top: 40px;
  margin-left: 40px;
}

.settings .langs .fernobutton {
  padding: 10px 25px 10px 25px;
  width: 180px;
}

.settings .langs .butts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings .langs button {
  margin-top: 20px;
  margin-left: 20px;
}

.settings h3 {
  font-family: quicksand;
  font-size: 38px;
  color: #eff1f3;
}

@media (max-width: 700px) {
  .settings {
    overflow: scroll;
    overflow-x: hidden;
  }
  .settings .langs .butts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .settings #close {
    font-size: 35px;
  }
  .settings .langs .butts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .settings h3 {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .settings #close {
    font-size: 30px;
  }
  .settings .langs .butts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .settings h3 {
    font-size: 23px;
  }
}
